
/* ================ NavBar =================== */
  .navbar a:hover {
    color: gold !important;
  }
  
.kingsman {
  color: gold !important;
}

.navbar-black {
  background-color: rgb(23, 23, 23);
}

.navbar-brand img {
  margin-left: 10px;
}

.nav-bar {
  margin-right: 50px;
}

.dropdown-item {
  background-color: rgb(23, 23, 23);
}


  /* ================ END NavBar =================== */


/* =============== TEXT ========================= */
h1, h5 {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: bold !important;
  color: gold;
  
}

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: rgb(244, 228, 138);
}

/* =============== END TEXT ========================= */

/* ========================= Login Page ========================== */

.login-page {
  background: url('/public/bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.login-form {
  border: 1px solid;
  border: whitesmoke;
  box-shadow: 0px 5px 30px, 5px 5px 8px rgba(242, 240, 240, 0.857) !important;
  padding: 20px;
  border-radius: 5px;
}


/* ========================= END Login Page ========================== */



/* ========================= Register Page ========================== */


  .register-page {
    background: url('/public/bg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
  }
  
  .register-form {
    border: 1px solid;
    border: whitesmoke;
    box-shadow: 0px 5px 5px, 5px 5px 20px rgba(242, 240, 240, 0.857) !important;
    padding: 20px;
    border-radius: 5px;
  }
  

/* ========================= END Register Page ========================== */



/* ================= HOME PAGE ========================= */
iframe {
  box-shadow: 0 2px 4px rgba(228, 225, 225, 0.919), 0 8px 120px rgba(228, 218, 218, 0.959);
  border-color: whitesmoke;
}

.home-page {
  background-color: rgba(31, 31, 31, 0.908);
  height: 100vh;
}

/* ================= END HOME PAGE ========================= */

/* ========================= Products ================= */
.product-card {

  min-height: 80%;
  background-color: rgba(69, 69, 69, 0.985) !important;
}

.product-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-page {
  background-color: rgba(31, 31, 31, 0.908);
  height: 100vh;
}



/* ====================== END Products ================= */ 

/* ====================== CART ============================== */

.cart-page {
  background-color: rgba(31, 31, 31, 0.908);
  height: 100vh;
}
/* ====================== END CART ============================== */

/* ====================== ADMIN ============================== */

.admin-page {
  background-color: rgba(31, 31, 31, 0.908);
  margin: 0;
  padding: 0;
}
.tab-page .nav-link {
  color: white;
 
}

.tab-page .nav-link:hover {
  color: gold;
 
}
/* ====================== Admin ============================== */


/* ====================== ADMIN ============================== */

.create-page {

  /* background-color: rgba(31, 31, 31, 0.908); */
  height: 100vh;
}

/* ====================== Admin ============================== */





/* ================ ALL PRODUCTS =============================*/

.all-page {

  
  height: 100vh;
}
/* ================ END ALL PRODUCTS =============================*/






/* ================ Buy PRODUCT =============================*/

.buy-page {
  background-color: rgba(31, 31, 31, 0.908);
  height: 100vh;
}
/* ================ END Buy PRODUCT =============================*/






/* ================== Update Product =========================== */
.update-page {
  background-color: rgba(31, 31, 31, 0.908);
  height: 100vh;
}
/* ================== END Update Product =========================== */


/* =============== ALL ORDERS =============================== */
.allorder-page {
  
  height: 100vh;
}
/* ================== END ALL ORDERS ================= */

.alluser-page {
  
  height: 100vh;
}